*{
  padding: 0px;
  margin: 0px;
}

section{
display: inline-block;
}

.cards {
  width: 20%;
  margin: 20px;
  background-color: rgb(228, 209, 228);
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0);
  
}

.name {
  text-align: center;
  padding: 20px;
  letter-spacing: 4px;
}

.image img {
  width: 100%;
}

.tagline {
  text-align: center;
  padding: 15px;
  font-size: 18px;
}

button {
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 5px;
  background-color: white;
  border: 0.8px solid rgb(8, 4, 44);
  border-radius: 15px;
}

button:hover {
  background-color: rgb(62, 27, 91);
  color: rgb(255, 255, 255);
  transition: .8s;
}