* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html{
    font-family: Arial, sans-serif;
    font-size: 25px;
  }
  
  h1{
    font-family: 'Bebas Neue', serif, cursive;
    color: #a296ca
  }
  
  p {
    color:#a296ca;
    
    font-family: 'Bebas Neue', serif, cursive;
  }
  
  .hero{
    width:100%;
    height: 100vh;
    
    background-image:url(https://picsum.photos/id/974/2000/2000),linear-gradient(#36d1dc, #5b86e5);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    background-blend-mode: multiply;
    
    color: white;
  }
  
  .container {
    width:90%;
    height:100%;
    max-width:1000px;
    margin:0 auto;
    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
  }
  
  .container .info h1{
    font-size:4rem;
    margin-bottom: 1rem;
  }
  
  .container .info p{
    font-size: 1.5rem;
    max-width:70%;
    margin:0 auto;
  }
  
  .container .info a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    border-radius: 12px;
    font-size: 1.5em;
    padding: 0.4em;
    margin-top: 1em;
    text-decoration: none;
  }
  
  .button-cta {
    background-color: #3acac9;
    color: #2b1d5a;
    
    border: none;
    border-radius: 5em;
    display: inline-block;
    padding: 0.2em 0.3em;
    width: auto;

    transition: 0.5s ease;
  }
  
  .button-cta:hover {
    background-color: rgb(255, 255, 255);
    color:#3acac9;
  }

  @media screen and (max-width: 768px) {
    html {
      font-size: 17px;
    }
  }