/* ROOT */
* {
  /* box model */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* text decoration for whole page */
  text-decoration: none;
}

/* MAIN FLEX */
main {
  flex: auto;
}


/* STICKY FOOTER */
body {
  /* flexbox */
  display: flex;
  flex-direction: column;

  /* height */
  min-height: 100vh;

  /* box model */
  margin: 0;
}


/* BODY FONT */
body {
  font-family: 'Quicksand', sans-serif;
}


/***** GLOBAL NAVIGATION *****/
/* GLOBAL NAV COLOR */
header {
  background-color: #2b1d5a;
}

/* NAV LIST STYLE */
li {
  list-style-type: none;
}


/* NAV LINKS */
a {
  color: white;
  text-decoration: none;
}

/* NAV BAR */
.navbar {
  /* min height */
  min-height: 85px;

  /* flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* box model */
  padding: 0 20px;
  /*     font-weight:bold; */
}

/* NAV MENU */
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

/* "LOGO" */
.nav-branding {
  font-size: 3rem;
}

/* TRANSITION */
.nav-link {
  transition: 0.7s ease;
}

/* HOVER */
.nav-link:hover {
  color: rgb(32, 218, 184);
}

/* HAMBURGER STYLE */
.hamburger {
  display: none;
  cursor: pointer;
}

/* HAMBURGER ICON */
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* MEDIA QUERY */
@media(max-width:900px) {
  .hamburger {
    display: block;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #2b1d5a;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 20px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}


/***** HERO SECTION *****/
.hero-form {
  /* Typography */
  text-align: center;

  /* sizing */
  width: 100vw;
  height: 100vh;

  /* flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  /* background image alignment and styles */
  background-image: url('../images/space-launch.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


/* saturn form heading */
.hero-form h1 {
  /* typograohy */
  font-size: 42px;
  font-family: 'Bebas Neue', cursive;
}


/* Saturn form page hero paragraph */
.hero-form p {
  /* typography */
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;

  /* padding */
  padding: 1rem;
}


/* Saturn form page hero text */
.hero-inner-form {
  /* typography */
  color: white;

  /* text background translucent background */
  background: rgba(0, 0, 0, 0.5);

  /* max character width for hero text */
  max-width: 60ch;

  /* textbox padding */
  padding: 2rem;
}



/***** FORM SECTION *****/
/* this lines up the loaction and postal code section*/
.locale {
  text-align: left;
}


/* form styling DO NOT TOUCH */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 96.5%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: 1rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0, 0, 0, 0.3);

  /* background color for boxes resting */
  background-color: #a296ca;
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}

#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  /* background when active */
  background-color: #2b1d5a;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}

#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 96.5%;
}

#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}

#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}

#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;

}

#fs-frm fieldset.locale input[name="city"] {
  width: 65%;
}

#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}

#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}


/***** CARD SECTION *****/
.features {
  background-color: #2b1d5a;
  color: white;
  padding: 60px 45px;
  display: flex;
}

.features-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-column-gap: 45px;
  grid-row-gap: 45px;
}

.feature-item {
  background-color: black;
  padding: 1rem;
}

.feature-title {
  padding: 0.5rem;
}

/***** FOOTER *****/
footer li {
  display: inline-block;
  list-style: none;
  margin: 10px;

}

a {
  text-decoration: none;
  color: white;
}

footer {
  background-color: #282b71;
  color: #9f97c5;
  text-align: center;
}

.footer-copyright {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9f97c5;
  color: white;
}

.footer-copyright p {
  margin-top: 15px;
}
