

/* body {
  /* flexbox */
  display: flex;
  flex-direction: column;

  /* height */
   min-height: 100vh;

   /* box model */
   margin: 0;
 }
 
 main {
 flex: auto;
 }


.team-page {
  margin: 3rem;
  padding: 0;
  min-height: 100vh;
  display: flex;
  background: linear-gradient(190deg, rgb(0, 0, 0) 9%,
        rgba(28, 4, 63, 0.777) 60%);
        display: flex;
        justify-content: center;
        align-items: center;      
}

.team-h1 {
  margin: 4rem;
  text-align: center;
  color: #9f97c5;
  font-size: 45px;
}

.team-gallery {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.team-cards {
  width: 20rem;
  height: 40rem;
  text-align: center;

  border-radius: 5px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0);
  background-color: #282b71;
}

.names {
  padding: 20px;
  text-align: center;
  letter-spacing: 7px;
  font-size: 30px;
  color: #9f97c5;
}
  

.team-images {
  margin: 0;
  width: 100%;
  height: 20rem;
  display: block;
  text-align: center;
}

.team-paragraphs{
  padding: 10px;
  margin: 20px 25px 40px 25px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: white;
}

.team-btn {
  padding: 10px;
  margin: 50px;
  border: 5px;
  border-style: double;
  border-color: black;
  border-radius: 10px;

  background-color: #452045;
  color: #9f97c5;

  text-decoration: none;
}
.team-btn:hover {
  background-color:#9f97c5;
  transition: .7s;  
  color: white;
}


footer li {
  display: inline-block;
  list-style: none;
  margin: 10px;
  
}
a {
  text-decoration: none;
  color: white;
}

footer {
  background-color: #282b71;
  color: #9f97c5;
  text-align: center;
}

.footer-copyright {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9f97c5;
  color: white;
}
.footer-copyright p {
  margin-top: 15px;
} 
