/* ROOT */
* {
  /* box model */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* text decoration for whole page */
  text-decoration: none;
}

/* MAIN FLEX */
main{
 flex: auto;
 }


/* STICKY FOOTER */
body {
  /* flexbox */
  display: flex;
  flex-direction: column;

  /* height */
   min-height: 100vh;

   /* box model */
   margin: 0;
 }
 

/* BODY TYPOGRAPHY */
body{
  font-family: 'Quicksand', sans-serif;
  line-height: 1.7rem;
 }


/***** GLOBAL NAVIGATION *****/
/* GLOBAL NAV COLOR */
header{
  background-color:#2b1d5a;
}


/* NAV LIST STYLE */
li {
  list-style-type: none;
}


/* NAV LIST STYLE */
a{
  color: white;
  text-decoration: none;
}


/* NAV BAR */
.navbar{
    /* min height */
  min-height: 85px;

  /* flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* box model */
  padding:0 20px;
}


/* NAV MENU */
.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}


/* "LOGO" */
.nav-branding{
  font-size: 3rem;
}

/* TRANSITION */
.nav-link{
  transition: 0.7s ease;
}

/* HOVER */
.nav-link:hover{
  color:rgb(32, 218, 184);
}


/* HAMBURGER STYLE */
.hamburger{
  display: none;
  cursor: pointer;
}

/* HAMBURGER ICON */
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}


/* MEDIA QUERY */
@media(max-width:900px){
  .hamburger{
      display:block;
  }

  .nav-menu{
      position: fixed;
      left: -100%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      background-color: #2b1d5a;
      width: 100%;
      text-align: center;
      transition: 0.3s;
  }

  .nav-item{
      margin: 20px 0;
  }

  .nav-menu.active{
      left: 0;
  }
}


/****** HERO SECTION *****/
.hero-404 { 
  /* Typography */
  text-align: center;
  
  /* sizing */
  width: 100vw;
  height: 100vh;

  /* flexbox */
  display: flex;
  justify-content: center;
  align-items: center;

  /* background styles */
  background-image: url("../images/astronaut-floating.png");

   /* linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


/* HERO TEXT */
.hero-inner-404{
  color: #fff;
  max-width: 65ch;
}


/* HERO HEADING */
.hero-404 h1 {
  /* typography */
  font-size: 70px;
  font-family: 'Bebas Neue', cursive;
  /* margins */
  margin-top: 0;
  margin-bottom: 0.5em;
}



/* HERO PARAGRPH */
.hero-paragraph-404 {
  /* typography */
  font-size: 1.5rem;
}


/* HERO CTA */
.hero-404 h2 {
  /* position and sizing */
  display: block;
  width: 200px;
  
  /* box model */
  padding: 1em;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  /* typography */
  color: black;
  background-color: #a296ca;
  text-decoration: none;
  font-size: 1.5em;

  /* border */
  border: 3px solid black;
  border-color: black;
  border-radius: 20px;
}

/* HERO CTA HOVER */
h2:hover{
  background-color: #461f44;
}


/***** FOOTER *****/
footer li {
  display: inline-block;
  list-style: none;
  margin: 10px;
  
}
a {
  text-decoration: none;
  color: white;
}

footer {
  background-color: #282b71;
  color: #9f97c5;
  text-align: center;
}

.footer-copyright {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9f97c5;
  color: white;
}
.footer-copyright p {
  margin-top: 15px;
}
